@media(Max-width: 768px) {

    .container {
        display: grid;
        grid-template-rows: 10% 80%;
    

    }
    

  

    nav  {
        display: flex;
        flex-direction: row;
        grid-column: 1/-1;
        justify-content: center;
        
    }
   
   

    #icons {
        display:  flex;
        flex-direction: row;
       
       
       
    }

    .text {
        display: none;
    }

    main {
        margin-top: 4rem;
    grid-column: 2/-2;
    }


}